.StickyContainer > div {
	width: 100%;
}

// src/pages/Work.jsx
.Work {
	overflow-x: hidden;

	&-sticky-header {
		background-color: $white;
		transition: all 125ms ease-out;
		z-index: 10;

		&.sticky {
			box-shadow: 0 2px 4px 0 #aaa;
			margin-left: -$default-body-margin;
			padding: 5px;

			.WorkHeader-container {
				padding-bottom: .5em;
				padding-top: .5em;
			}

			.WorkHeader-title {
				font-size: 1.5em;
			}

			.WorkHeader-status {
				font-size: 0.9em;
			}
		}
	}

	&-content {
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
	}

	// shared styles btwn View + Edit
	&-sub-container {
		display: inline-block;
		position: relative;
		transition: all 240ms ease-out;
	}

	&-view-container {

	}

	&-edit-container {
		flex-grow: 1;
		flex-shrink: 1;
	}
}
